*{
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}
li{
    z-index:99999;
}
main{
    z-index:999999999;
}
.shop{
    opacity: 1;
    transition: 0.4s ease;
}
.shop:hover{
    color: black;
    background-color: #fff;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scroll-track{
    background:#212121;
}
body::-webkit-scrollbar-thumb{
    background:#FF7F00;
}
